@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

@tailwind base
@tailwind components
@tailwind utilities
@tailwind colors

@layer base
    :root[data-theme="light"]
        --color-border: theme(colors.neutral.200)
        --color-component: theme(colors.neutral.50)
        --color-danger: theme(colors.red.500)
        --color-hover: theme(colors.neutral.200)
        --color-page: theme(colors.neutral.100)
        --color-primary: theme(colors.indigo.500)
        --color-secondary: theme(colors.indigo.200)
        --color-text: theme(colors.neutral.400)
        --color-success: theme(colors.green.500)
        --color-title: theme(colors.neutral.600)

    :root[data-theme="dark"]
        --color-border: theme(colors.neutral.700)
        --color-component: theme(colors.neutral.800)
        --color-danger: theme(colors.rose.600)
        --color-hover: theme(colors.neutral.900)
        --color-page: theme(colors.neutral.900)
        --color-primary: theme(colors.indigo.400)
        --color-secondary: theme(colors.indigo.100)
        --color-success: theme(colors.emerald.600)
        --color-text: theme(colors.neutral.500)
        --color-title: theme(colors.neutral.300)

@layer components
    @import chart
    @import dropdown
    @import icon
    @import menu
    @import pagination
    @import pill
    @import tab
    @import table
    @import tooltip
    @import switch
